.grid {
    width: 400px;
    height: 650px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.grid-item {
    width: 100%;
    height: 100%;
    border: solid black;

    display: flex;
    justify-content: center;
    align-items: center;
}

.display {
    grid-column-end: span 5;
}

.equals {
    grid-row-end: span 2;
}